.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  padding: 0.75rem;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainLink {
  line-height: 0;
}

.logo {
  max-height: 2.25rem;
}

@media screen and (width <= 1024px) {
  .logo {
    max-height: 1.8rem;
  }
}

@media screen and (width <= 640px) {
  .logo {
    max-height: 1.4rem;
  }
}
