.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 0.75rem;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-height: 2.25rem;
}
