.link {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 0.375rem;
  align-items: center;

  margin-bottom: 2.25rem;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s linear;
  }
}

.iconArrow {
  width: 1rem;
  height: 1rem;
  color: var(--color-light-100);
}
