.trigger {
  cursor: pointer;

  padding: 0.3125rem 0.75rem;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border-top: 1px solid var(--color-dark-300);
  border-right: none;
  border-bottom: 1px solid var(--color-dark-300);
  border-left: 1px solid var(--color-dark-300);

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-right: 1px solid var(--color-dark-300);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &[data-state='active'],
  &[data-state='active']:hover {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
  }

  &[data-state='active'] + button,
  &:hover + button {
    border-left: none;
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

  &:focus-visible {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-info-900);
    outline: 1px solid var(--color-info-900);
  }

  &[data-disabled],
  &[data-disabled]:hover + button {
    cursor: default;
    color: var(--color-dark-300);
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
  }
}
