.formContent {
  width: 100%;
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 0 36px;
}

.formTitle {
  margin-top: 33px;
  margin-bottom: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  button {
    margin-top: 36px;
    margin-bottom: 20px;
  }
}

.formBtnLink {
  position: relative;
  margin-top: 11px;
  margin-bottom: 29px;
  padding: 0;

  &::after {
    content: '';

    position: absolute;
    bottom: 4px;

    width: 100%;
    height: 1px;

    background: var(--color-accent-500);
  }

  &:visited {
    color: var(--color-accent-500);
  }

  &:visited:hover {
    color: var(--color-accent-300);
  }
}

.formFooterText {
  color: var(--color-light-900);
}
