.label {
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}

.trigger {
  cursor: pointer;

  display: inline-flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;

  width: 13rem;
  padding: 0.3125rem 0.75rem;

  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: background-color 0.3s ease-out;

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:hover:not([data-disabled]) {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  .triggerIcon {
    transform: rotate(-180deg);
    transition: all 0.3s ease-out;

    & .disabled {
      color: var(--color-dark-300);
    }
  }

  &[data-state='open'] {
    background-color: var(--color-dark-900);
    border-color: var(--color-dark-100);
    border-radius: 2px 2px 0 0;

    .triggerIcon {
      transform: rotate(0);
      transition: all 0.3s ease-out;
    }
  }

  &[data-disabled] {
    cursor: initial;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);

    & p {
      color: var(--color-dark-300);
    }
  }
}

.content {
  z-index: 301;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;
}

.paginationTrigger {
  width: 3.125rem;
  padding: 0 6px;
  background-color: var(--color-dark-700);

  &[data-state='open'] {
    background-color: var(--color-dark-700);
  }
}

.fullWidth {
  width: 100%;
}
