@mixin typography($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  flex-wrap: $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin input-icon($left, $right) {
  @include flex($align: center);

  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 1.25rem;
  height: 1.25rem;

  color: var(--color-dark-100);

  @if $right != 0 {
    right: $right;
  }

  @if $left != 0 {
    left: $left;
  }
}
