@import '@/styles/mixins';

.large {
  @include typography(var(--font-size-xxl), var(--font-weight-bold), var(--line-height-l));
}

.h1 {
  @include typography(var(--font-size-xl), var(--font-weight-bold), var(--line-height-l));
}

.h2 {
  @include typography(var(--font-size-l), var(--font-weight-bold), var(--line-height-m));
}

.h3 {
  @include typography(var(--font-size-m), var(--font-weight-bold), var(--line-height-m));
}

.body1 {
  @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--font-weight-bold), var(--line-height-m));
}

.body2 {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-m));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--font-weight-bold), var(--line-height-m));
}

.caption {
  @include typography(var(--font-size-xs), var(--font-weight-regular), var(--line-height-s));
}

.overline {
  @include typography(var(--font-size-xs), var(--font-weight-bold), var(--line-height-s));
}

.link1 {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-m));

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration-line: underline;
}

.link2 {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-s));

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration-line: underline;
}
