.table {
  user-select: none;
}

.name {
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;

  color: var(--color-light-100);
  text-decoration: none;
}

@media screen and (width <= 1024px) {
  .name {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.cover {
  width: 7.5rem;
  max-height: 3rem;
  object-fit: cover;
}

.questionCell,
.answerCell {
  width: 26%;
  word-break: break-all;
}

.updatedCell {
  width: 20%;
  word-break: break-all;
}

.gradeCell {
  width: 16%;
}

.actionsCell {
  width: 12%;
  word-break: break-all;

  & > span {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
  }
}
