.form {
  width: 100%;
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 2.062rem 2.25rem 1.75rem;
}
.headerText {
  user-select: none;
}

.input {
  margin-top: 1.687rem;
}

.descriptionText {
  user-select: none;
  margin-top: 1.187rem;
  color: var(--color-light-900);
  opacity: 0.5;
}

.submitBtn {
  margin-top: 4.125rem;
}

.forgotPasswordText {
  user-select: none;
  margin-top: 1.25rem;
  color: var(--color-light-900);
}

.signUpNav {
  margin-top: 0.687rem;
  padding: 0;
  text-decoration: underline 1px;
}
