.pagination {
  justify-content: center;
  margin-bottom: 1.5rem;
}

.table {
  margin-bottom: 0.5rem;
}

.item {
  margin-bottom: 1.5rem;
}

.infoText {
  margin-bottom: 2rem;
  color: var(--color-dark-100);
}

.infoBlock {
  margin-top: 2.875rem;
  text-align: center;
}

@media screen and (width <= 1024px) {
  .tableContainer {
    overflow-y: auto;
  }
}
