.formContent {
  width: 100%;
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 2.063rem 2.25rem 3.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTitle {
  margin-bottom: 3.188rem;
}

.formInfoText {
  margin-top: 1.188rem;
  margin-bottom: 2.563rem;
  color: var(--color-dark-100);
}
