.formContent {
  width: 100%;
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 33px 36px 60px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTitle {
  margin-bottom: 51px;
}

.formInfoText {
  margin-top: 19px;
  margin-bottom: 41px;
  color: var(--color-dark-100);
}
