.formContent {
  width: 100%;
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 2rem 2.25rem 3.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTitle {
  margin-bottom: 3.125rem;
}

.input {
  margin-bottom: 1.25rem;
}

.formInfoText {
  margin-bottom: 2.5rem;
  color: var(--color-dark-100);
}
