.addNewDeckForm {
  min-width: 33.875rem;
  padding: 1.5rem 1.5rem 2.25rem;
}

.cover {
  width: 100%;
  max-height: 12rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.uploaderTrigger {
  margin-bottom: 1.5rem;
}

.addNewDeckInput {
  margin-bottom: 1.5rem;
}

.addNewDeckCheckBox {
  align-self: start;
  max-width: 7.06rem;
  margin-bottom: 2.25rem;
  margin-left: 0.375rem;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}
