.filters {
  display: grid;
  grid-template: 'input tabs slider button' 1fr / 17.5rem 14.375rem 15.625rem 1fr;
  column-gap: 1.5rem;
  align-items: flex-end;
}

.input {
  grid-area: input;
}

.tabs {
  grid-area: tabs;
}

.slider {
  grid-area: slider;
  margin-right: 0.75rem;
}

.button {
  grid-area: button;
}

@media screen and (width <= 1024px) {
  .filters {
    grid-template: 'input tabs' 1fr 'slider button' 1fr / 1.5fr 1fr;
  }

  .slider {
    margin-right: 0;
  }
}

@media screen and (width <= 640px) {
  .filters {
    grid-template: 'tabs' 1fr 'input' 1fr 'slider' 1fr 'button' 1fr / 1fr;
  }
}
