.table {
  user-select: none;
}

.image {
  max-width: 10rem;
  max-height: 5rem;
}

.question {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cell {
  max-width: 290px;
  word-break: break-all;
}

.starIcon {
  margin-right: 10px;
  color: var(--color-warning-300);

  &:last-child {
    margin-right: 0;
  }
}

.editIcons {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
