.form {
  width: 100%;
  margin: 0.75rem 0 3rem;
}

.avatarWrapper {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

.avatarLoader {
  position: absolute;
  right: 0;
  bottom: 0;
}

.trigger {
  padding: 0.3rem;
  border-radius: 50%;
}

.crossBtn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;

  padding: 0.1rem;

  border-radius: 50%;
}

.crossIcon {
  width: 1rem;
  height: 1rem;
}

.nickname {
  margin-bottom: 2.25rem;
}

.cancel {
  margin-bottom: 1.5rem;
}
