.modal {
  width: 100%;
  max-width: 33.75rem;
}

.body {
  width: 100%;
  padding: 1.125rem 1.5rem;
}

.text {
  margin-bottom: 1.75rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
